{% extends 'base.html' %}
{% block 'title' %} {{ post.title }} {% endblock %}
{% block 'content' %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="card border-white">
                    <img class="card-img-top " style  = 'height: 500px;width: auto;'  src="{{ MEDIA_URL }}{{ post.image.url }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{ post.title }}</h4>
                            <span style = 'color:gray;font-size:12px;'> <b> {{ post.category }}  </b> </span>&nbsp;&nbsp; <span style = 'color:gray;font-size:12px;'> {{ post.posted_date }} </span>
                        <p class="card-text  py-2">
                            {{ post.content }}
                            <a href="{% url 'blogDelete' post.id %}" class="btn btn-link">Delete Blog</a>
                            <a href="{% url 'blogUpdate' post.id %}" class="btn btn-link">Update Blog</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
{% endblock  %}